<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tud.cs.st.vespucci.preferences.pages.Mainpage"
            id="VespucciPreferencePages"
            name="Vespucci">
      </page>
      <page
            category="VespucciPreferencePages"
            class="de.tud.cs.st.vespucci.preferences.pages.SaveActions"
            id="VespucciSaveActions"
            name="Save Actions">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.tud.cs.st.vespucci.preferences.Initializer">
      </initializer>
   </extension>

</plugin>
