<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.tud.cs.st.vespucci.view.currentdiagrams"
            name="Vespucci">
      </category>
      <view
            category="de.tud.cs.st.vespucci.view.currentdiagrams"
            class="de.tud.cs.st.vespucci.view.currentdiagrams.views.CurrentDiagramsView"
            icon="icons/sample.gif"
            id="de.tud.cs.st.vespucci.view.currentdiagrams.views.CurrentDiagramsView"
            name="Current Diagrams">
      </view>
   </extension>
   <extension
         point="de.tud.cs.st.vespucci.diagram.resultProcessors">
      <resultProcessor
            ResultProcessor="de.tud.cs.st.vespucci.view.currentdiagrams.ResultProcessor">
      </resultProcessor>
   </extension>

</plugin>
