<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="de.tud.cs.st.vespucci.diagram.resultProcessors">
      <resultProcessor
            ResultProcessor="de.tud.cs.st.vespucci.mockreturnprocessor.ResultProcessor">
      </resultProcessor>
   </extension>

</plugin>
