<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="checkedDiagramsObserver" name="Checked Diagrams Observer" schema="schema/checkedDiagramsObserver.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.tud.cs.st.vespucci.view"
            class="de.tud.cs.st.vespucci.view.checked_diagrams.views.CheckedDiagramsTableView"
            icon="icons/Vespucci_modelDiagramFile.gif"
            id="de.tud.cs.st.vespucci.view.checked_diagrams"
            name="Live Checked Architecture">
      </view>
   </extension>
   <extension
         point="de.tud.cs.st.vespucci.diagram.resultProcessors">
      <resultProcessor
            ResultProcessor="de.tud.cs.st.vespucci.view.checked_diagrams.CheckedDiagramsVisualizer">
      </resultProcessor>
   </extension>

</plugin>
