<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Vespucci"
            id="de.tud.cs.st.vespucci">
      </category>
      <view
            name="SADClient"
            icon="images/sadclient.gif"
            category="de.tud.cs.st.vespucci"
            class="de.tud.cs.st.vespucci.sadclient.view.SADCollectionView"
            id="de.tud.cs.st.vespucci.sadclient.view.SADCollectionView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tud.cs.st.vespucci.sadclient.preferences.SADClientPreferences"
            id="de.tud.cs.st.vespucci.sadclient.preferences.SADClientPreferences"
            name="SADClient">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.tud.cs.st.vespucci.sadclient.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.dropActions">
      <action
            class="de.tud.cs.st.vespucci.sadclient.view.ExplorerDropDelegate"
            id="sadclient-plugin.sad.dnd">
      </action>
   </extension>

</plugin>
