<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.tud.cs.st.vespucci.diagram.converters">
      <converter
            DiagramConverter="de.tud.cs.st.vespucci.generateprologfacts.GenerateProlog"
            Label="Generate Prolog Facts">
      </converter>
   </extension>

</plugin>
