<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.tud.cs.st.vespucci.view"
            class="de.tud.cs.st.vespucci.view.unmodeled_elements.UnmodeledElementsTableView"
            icon="icons/Vespucci_modelDiagramFile.gif"
            id="de.tud.cs.st.vespucci.unmodeled_elements.table"
            name="Non-Ensemble Elements">
      </view>
   </extension>
   <extension
         point="de.tud.cs.st.vespucci.diagram.resultProcessors">
      <resultProcessor
            ResultProcessor="de.tud.cs.st.vespucci.view.unmodeled_elements.UnmodeledElementsVisualizer">
      </resultProcessor>
   </extension>

</plugin>
