<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Vespucci"
            id="sadclient">
      </category>
      <view
            name="SADClient"
            icon="icons/sample.gif"
            category="sadclient"
            class="de.tud.cs.st.vespucci.java.tycho.template.views.SampleView"
            id="de.tud.cs.st.vespucci.java.tycho.template.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="de.tud.cs.st.vespucci.java.tycho.template.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
